# Dependency directories
node_modules/
dist/

# Build artifacts and runtime data
.wrangler/
.dev.vars

# Environment variables
.env

# Package lock files (ignore if you prefer builds to use the most recent versions)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
# bun.lockb

# Ignore all text files:
*.txt
